PROMETHEUS_ENDPOINT=http://localhost:9090
SERVER_ADDRESS=:8080
DEFAULT_WINDOW=10m
CPU_HOURLY_USD=0.04048
MEMORY_GIB_HOURLY_USD=0.004445
MONTHLY_HOURS=720
SCRAPE_INTERVAL=30s
CONSOLIDATE_INTERVAL=1m
CONSOLIDATE_WINDOW=10m
WASTE_THRESHOLD=0.50
SUSTAINED_CPU_MEM_DURATION=72h
NOTIFICATION_COOLDOWN=30m
EXPERIMENT_RESET_ENABLED=false
EXPERIMENT_RESET_TOKEN=replace-with-a-long-random-token
